<header class="header">
  <div class="container header__inner">
    <a class="brand wordmark" href="/"><span class="wordmark__name"><b>A.</b><i>И</i>ндыков</span><span class="wordmark__url"><b>A.</b><u><i>I</i>ndikov.ru</u></span></a>
    <nav class="nav nav--article" aria-label="Навигация по сайту"><a href="/coaching/">Сопровождение</a><a href="/repetitor/">Школьникам и родителям</a><a href="/articles/">Статьи</a><a href="/typolog/">Инструменты</a><a class="nav__cta" href="/start/">Выбрать сопровождение</a></nav>
  </div>
</header>

